/* main styles */
* {
    font-family: 'Segoe UI';
    background-color: #EFF0F1;
    padding: 0px;
    margin: 0px;
}

body {
    width: 250px;
}

h1 {
    font-weight: 600;
    font-size: 1.2em;
    text-align: center;
}

div#linkList {
    height: 300px;
    overflow-y: auto;
    max-width: 250px;
}

.loadedLink {
    width: 100%;
    font-size: 1em;
    border-bottom: 1px solid #CCC;
}

.loadedLink:hover {
    background-color: #CCC;
    cursor: pointer;
}

.catPrompt {
    display: none;
    width: 100%;
}

.addTile {
    border: none;
    background-color: #DDD;
    color: white;
    outline: none;
}

.removeTile {
    border: none;
    background-color: #DDD;
    color: white;
    outline: none;
}