* {
  margin: 0px;
}

body {
  width: 120px;
  max-height: 300px;
  overflow-y: auto;
  background-color: #EFF0F1;
}

div#container {
  width: 100%;
}

.savedTabs {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.2em;
}

.savedTabs:hover {
  background-color: #DDD;
  cursor: pointer;
}

input[type="text"] {
  width: 70px;
  margin: auto;
}